@model FindIt.Models.ProductOperationsLists
@{
    ViewBag.Title = "MapDetails";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<input id="harita" type="hidden" name="html" />
<input type="hidden" name="operation" value="save" />
<div class="row">
    <div class="col-md-6">
        <div class="row" style="margin-left:0px !important;">
            <div class="card">
                <div class="header">
                    <h4 class="title">Harita Oluştur</h4>
                </div>
                <div class="content">
                    <div class="row" style="margin-top: 10px;margin-left:0px !important;">
                        <div class="col-md-3">
                            <label>Mağaza Eni</label>
                        </div>
                        <div class="col-md-1">
                            <label>:</label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group-sm">
                                <input class="form-control" name="shopWidth" type="number" placeholder="Mağaza Enini Giriniz (m)" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;margin-left:0px !important;">
                        <div class="col-md-3">
                            <label>Mağaza Boyu</label>
                        </div>
                        <div class="col-md-1">
                            <label>:</label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group-sm">
                                <input class="form-control" name="shopHeight" type="number" placeholder="Mağaza Boyunu Giriniz (m)" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;margin-left:0px !important;">
                        <div class="col-md-3">
                            <label>Raf Eni</label>
                        </div>
                        <div class="col-md-1">
                            <label>:</label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group-sm">
                                <input class="form-control" name="shelfWidth" type="number" placeholder="Raf Enini Giriniz (cm)" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;margin-left:0px !important;">
                        <div class="col-md-3">
                            <label>Raf Yüksekliği</label>
                        </div>
                        <div class="col-md-1">
                            <label>:</label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group-sm">
                                <input class="form-control" name="shelfHeight" type="number" placeholder="Raf Yüksekliğini Giriniz (cm)" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;margin-left:0px !important;">
                        <div class="col-md-3">
                            <label>Raf Boyu</label>
                        </div>
                        <div class="col-md-1">
                            <label>:</label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group-sm">
                                <input class="form-control" name="shelfLength" type="number" placeholder="Raf Boyunu Giriniz (cm)" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;margin-left:0px !important;">
                        <div class="col-md-3">
                            <label>Raf Sayısı</label>
                        </div>
                        <div class="col-md-1">
                            <label>:</label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group-sm">
                                <input class="form-control" name="shelfCount" type="number" placeholder="Raf Sayısını Giriniz" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;margin-left:0px !important;">
                        <div class="col-md-3">
                            <label>Raf Kat Sayısı</label>
                        </div>
                        <div class="col-md-1">
                            <label>:</label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group-sm">
                                <input class="form-control" name="shelf" type="number" placeholder="Raf Katını Giriniz" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px; margin-left:0px !important">
                        <div class="col-md-9"></div>
                        <div class="col-md-3">
                            <input id="btnAddShelf" class="btn btn-success btn-fill" style="width:100px;" value="Ekle" />
                            @*<asp:Button ID="btnAddShelf" CssClass="btn btn-success btn-fill" runat="server" Text="Ekle" OnClick="btnAddShelf_Click" />*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left:0px !important;">
            <div class="card">
                <div class="header">
                    <h4 class="title">Kullanılabilir Raflar</h4>
                </div>
                <div class="content">
                    <table class="table table-hover">
                        <thead>
                        <th></th>
                        <th>Raf Adı</th>
                        <th>AltKategori</th>
                        <th>Raf Tasarım</th>
                        <th>Ekle</th>
                        <th>Sil</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4 class="title">Mağaza Haritası</h4>
            </div>
            <div class="content">
                <div id="shelfsArea" class="container" style="background-color: #bdbdbd; width: 100%; height: 400px;"></div>
                <button id="submitButton" type="submit" class="btn btn-success btn-fill" style="float: right; margin-top: 10px;" onclick="getHtml()">Ekle</button>
            </div>
        </div>
    </div>
</div>

