@{
    ViewBag.Title = "Hoşgeldiniz";
}
<div class="container" style="margin: 10px auto;">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 text-center">
            <div class="row">
                <img id="logo" src="~/Images/finditlogo.png" height="300" width="500" />
            </div>
            @using (Html.BeginForm("FilterPage", "Filter", FormMethod.Post))
            {
            <div class="form-group ">
                <input type="text" class="form-control input-lg" id="inputlg" name="search" placeholder="Aradığınız ürünü buraya yazın" />
                <input type="hidden" name="subCategory" value="0" />
                <input type="hidden" name="productStock" value="yes" />
            </div>
                <input type="submit" id="search" class="btn btn-success" name="searchBtn" value="Ara" style="width:200px;" />
            }
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>